[submodule "contrib/star-sti"]
	path = contrib/star-sti
	url = git@github.com:star-bnl/star-sti.git
[submodule "contrib/star-bfchain"]
	path = contrib/star-bfchain
	url = git@github.com:star-bnl/star-bfchain.git
[submodule "contrib/star-db-calibrations"]
	path = contrib/star-db-calibrations
	url = git@github.com:star-bnl/star-db-calibrations.git
[submodule "contrib/star-base"]
	path = contrib/star-base
	url = git@github.com:star-bnl/star-base.git
[submodule "contrib/star-stevent"]
	path = contrib/star-stevent
	url = git@github.com:star-bnl/star-stevent.git
[submodule "contrib/star-stdb"]
	path = contrib/star-stdb
	url = git@github.com:star-bnl/star-stdb.git
